:root{
    --color-1: #F4F4F4;
    --color-2: #272727;
    --color-3: #5B5B5B;
    --color-4: #fcfcfc;
    --tipografia-1: 'Mollen Personal Use', sans-serif;
    --letra-default: 1.3rem;
    --letra-mediana: 1.7rem;
    --letra-grande: 3.5rem;
    --letra-extraGrande: 4rem; 
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Mollen Personal Use', sans-serif;

}

body {
    background-color: var(--color-1);
}

.header {
    background-color: var(--color-2);
    display: flex;
    height:90px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}


#logo-1{
    width: 60px;
    cursor: pointer;

}

#logo-1:hover {
    transform: scale(1.2); 
}
#search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;

}

.header .nav-links a{
font-size: 1.1rem;
color: var(--color-1);
text-decoration: none;
}

.header .nav-links :hover{
    color: rgb(150, 149, 149);
}

#search {
    display: flex;
    align-items: center;
    background-color: var(--color-2);
    border: 2px solid var(--color-1);
    border-radius: 20px;
    padding: 5px;
    width: 300px;
}

#search input[type="text"] {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    background-color: var(--color-2);
    color: #fff; /* cambia el color dentro de la barra de navegacion */
    outline: none; /* Elimina el borde blanco */ 
}
    

#search button {
    background-color: var(--color-2);
    color: var(--color-1);
    border: none;
    border-radius: 100px;
    padding: 0px 12px;
    cursor: pointer;
}



/* BANNER PRINCIPAL */

.banner-principal {
    background-image: url('Imagenes/Banner-background.png'); 
    background-size: cover; 
    background-position: center; 
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
}

.banner-principal h1 {
    font-size: var(--letra-default);
    margin-bottom: 10px;
}

.banner-principal p {
    font-size: var(--letra-default);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mollen Personal Use', sans-serif;
}

.banner {
    background-image: url(Imagenes/Banner-background.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
}

.text {
    flex: 1;
    padding: 20px;
    color: white;
    width: 50px;

}

.text h1 {
    font-size: var(--letra-extraGrande);
    line-height: -1.5;
    letter-spacing: 1px;
}


.text h2 {
    font-size: var(--letra-grande);
    line-height: -1.5;
    font-style: oblique;
    color: rgb(253, 253, 253);
    letter-spacing: 1px;
    
}

.text h3 {
    font-size: var(--letra-mediana);
    margin-bottom: 20px;
    margin-top: 5px;
    letter-spacing: 1.2px;
}

.text p {
    font-size: var(--letra-default);
    text-align: justify;
    margin-bottom: 20px;
    max-width: 700px;
    line-height: 2;
}

button {
    padding: 10px 20px;
    background-color:#27272709;
    color: white;
    border: 2px solid var(--color-1);
    border-radius: 30px;
    cursor: pointer;
    font-size: var(--letra-default);
    margin-top: 10px;


}

#button-banner:hover {
    transform: scale(1.1); 
}

.image img {
    width: 600px; 
    height: auto;
    border-radius: 5px;

}

.image img:hover {
    transform: scale(1.05); 
}


.separator {
    border: none;
    border-top: 4px solid var(--color-1);/* Estilo de la línea */
    margin-top: 6px;
    margin-bottom: 20px; /* Margen superior e inferior */
    width: 240px; /* Ancho de la línea */
}


/* SECCION SERVICIOS */

.titulo-servicios {
    font-size: var(--letra-extraGrande);
    line-height: 1.5px;
    letter-spacing: 1px;
    text-align: center; /* Centro el texto horizontalmente */
    color: var(--color-2);
}

.texto-servicios {
    font-size: var(--letra-mediana);
    letter-spacing: 1px;
    text-align: center; 
    color: var(--color-2);
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap; /* Permite que los contenedores se envuelvan si no hay suficiente espacio */
    justify-content: space-between; 
    margin: 20px 0; /* Ajusta el margen según sea necesario */
}
.contenedor {
    
    width: 30%;
    margin: 20px;
    float: left;
    background-color: #d5d5d593;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s; 
}

.contenedor:hover {
    background-color: #c1c1c1; 
}

.contenedor img {
    width: 128px;
    transition: transform 0.3s ease; 
}



.contenedor h2 {
    color: var(--color-2);
    font-size: var(--letra-mediana);
    letter-spacing: 0.5px;
}

.contenedor p {
    color: var(--color-3);
    font-size: var(--letra-default);
    font-weight: 500;
    
}





/* CATEGORIAS DE ARTICULOS */

.separator-categoria {
    border: none;
    border-top: 4px solid var(--color-2); /* Estilo de la línea */
    margin-top: 6px;
    margin-bottom: 20px; /* Margen superior e inferior */
    width: 240px; /* Ancho de la línea */
    margin-left: auto; /* Alinea al centro horizontal */
    margin-right: auto; /* Alinea al centro horizontal */
}


.titulo-categoria {
    font-size: var(--letra-extraGrande);
    line-height: 1.5px;
    letter-spacing: 1px;
    text-align: center; /* Centro el texto horizontalmente */
    color: var(--color-2);
}

.titulo-categoria em {
    font-size: var(--letra-extraGrande);
    font-style: oblique;
    line-height: 1.5px;
    letter-spacing: 1px;
    text-align: center; /* Centro el texto horizontalmente */
    color: var(--color-2);

}
.caja{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.caja h2 {
    font-size: var(--letra-mediana);
    letter-spacing: 1px;
    color: var(--color-1);
}

.caja p {
    font-size: var(--letra-default);
    letter-spacing: 1px;
    color: var(--color-1);
    margin-top: 5px; /* Ajusta este valor según sea necesario */
    margin-right: 500px;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 2fr); /* Cada columna es dos veces más ancha */
    grid-template-rows: repeat(6, 2fr); /* Cada fila es dos veces más alta */
    padding: 15px;
    gap: 10px;

    /* 
        Se dibuja con los nombres de las clases
        las areas de la grilla
    */
    grid-template-areas: 
        "caja-1 caja-1 caja-1 caja-3"
        "caja-1 caja-1 caja-1 caja-3"
        "caja-1 caja-1 caja-1 caja-3"
        "caja-4 caja-4 caja-2 caja-2"
        "caja-4 caja-4 caja-2 caja-2"
        "caja-4 caja-4 caja-2 caja-2";
}

#caja-1{
    display: grid;
    text-align: left;
    background-image: url(Imagenes/obras-de-arte.png); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Para que la imagen esté detrás del contenido */
    opacity: 0.9; /* Ajusta la opacidad de la imagen de fondo */
    padding: 40px;

    grid-area: caja-1;
}

#caja-2{

    display: grid;
    text-align: left;
    background-image: url(Imagenes/mueble.png); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Para que la imagen esté detrás del contenido */
    opacity: 0.9; /* Ajusta la opacidad de la imagen de fondo */
    padding: 40px;
    grid-area: caja-2;
}

#caja-3{
    display: grid;
    text-align: left;
    background-image: url(Imagenes/jarrones.png); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Para que la imagen esté detrás del contenido */
    opacity: 0.9; /* Ajusta la opacidad de la imagen de fondo */
    padding: 40px;

    grid-area: caja-3;
}

#caja-4{

    display: grid;
    text-align: left;
    background-image: url(Imagenes/estatuas-decorativas.png); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Para que la imagen esté detrás del contenido */
    opacity: 0.9; /* Ajusta la opacidad de la imagen de fondo */
    padding: 40px;

    grid-area: caja-4;
}

/* PRODUCTOS  */

.titulo-producto {
    font-size: var(--letra-extraGrande);
    line-height: 1.5px;
    letter-spacing: 1px;
    text-align: center; /* Centro el texto horizontalmente */
    color: var(--color-2);
}

.titulo-producto em {
    font-size: var(--letra-extraGrande);
    font-style: oblique;
    line-height: 1.5px;
    letter-spacing: 1px;
    text-align: center; /* Centro el texto horizontalmente */
    color: var(--color-2);
}

.contenedor-productos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 30px;
}

.producto {
    background-color: #fbfbfbec;
    width: 25%; /* Cada producto ocupa el 25% del ancho de la pantalla */
    border-radius: 10px;
    text-align: center;
    margin-right: 15px; /* Espacio entre productos */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1)
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Agregar una transición suave al efecto hover */
}

.producto img:hover {
    transform: scale(1.01); /* Escalar la imagen al 110% en el hover */
}


.producto h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: var(--letra-mediana)
}

.producto p {
    margin: 0;
    font-weight: normal;
    color: var(--color-3);
    font-size: var(--letra-default);
}

/* CALL TO ACTION */


.banner-call {
    background-image: url('Imagenes/Banner-background.png'); 
    background-size: cover; 
    background-position: center; 
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
}

.banner-call h1 {
    font-size: var(--letra-extraGrande);
    margin-bottom: 10px;
    text-align: left; /* Centro el texto horizontalmente */

}

.banner-call p {
    font-size: var(--letra-default);
    text-align: left; /* Alinea el texto a la izquierda */
    letter-spacing: 1px;
    color: var(--color-1);
    margin-right: 100px;
    line-height: 1.5; /* Ajusta el interlineado a 1.5 veces el tamaño de la fuente */
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Mollen Personal Use', sans-serif;
}

.banner-call {
    background-image: url(Imagenes/Banner-background.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    gap: 50px;
}

.text-call {
    flex: 1;
    padding: 20px;
    color: white;
    width: 50px;

}

.text-call h1 {
    font-size: var(--letra-extraGrande);
    line-height: -1.5;
    letter-spacing: 1px;
}


.button-container {
    text-align: left; /* Alinea el contenido del botón a la derecha */
}

#button-call {
    padding: 10px 20px;
    background-color: #a0000009;
    color: white;
    border: 2px solid var(--color-1);
    border-radius: 30px;
    cursor: pointer;
    font-size: var(--letra-default);
    margin-top: 10px;
}


.image-call img {
    width: 500px; 
    height: auto;
    border-radius: 5px;
}



/* PIE DE PAGINA */

.footer {
    background-color: var(--color-2);
    color: var(--color-1);
    text-align: center; 
    padding: 20px 0; 
    width: 100%; 
    position: fixed; 
    bottom: 0; /* Alinea el footer en la parte inferior de la ventana */
    left: 0; /* Asegura que esté alineado a la izquierda */
    right: 0; /* Asegura que esté alineado a la derecha */
}
