:root{
    --color-1: #F4F4F4;
    --color-2: #272727;
    --color-3: #5B5B5B;
    --color-4: #fcfcfc;
    --tipografia-1: 'Mollen Personal Use', sans-serif;
    --letra-default: 1.3rem;
    --letra-mediana: 1.7rem;
    --letra-grande: 3.5rem;
    --letra-extraGrande: 4rem; 
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Mollen Personal Use', sans-serif;

}

body {
    background-color: var(--color-1);
}

.header {
    background-color: var(--color-2);
    display: flex;
    height:90px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}


#logo-1{
    width: 60px;
    cursor: pointer;

}

#logo-1:hover {
    transform: scale(1.2); 
}
#search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;

}

.header .nav-links a{
font-size: 1.1rem;
color: var(--color-1);
text-decoration: none;
}

.header .nav-links :hover{
    color: rgb(150, 149, 149);
}

#search {
    display: flex;
    align-items: center;
    background-color: var(--color-2);
    border: 2px solid var(--color-1);
    border-radius: 20px;
    padding: 5px;
    width: 300px;
}

#search input[type="text"] {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    background-color: var(--color-2);
    color: #fff; 
    outline: none; 
}
    

#search button {
    background-color: var(--color-2);
    color: var(--color-1);
    border: none;
    border-radius: 100px;
    padding: 0px 12px;
    cursor: pointer;
}


.section-1 {
    margin-bottom: 100px;
    /* Espacio entre secciones */

}

.section-2 {
    margin-bottom: 10px;
    /* Espacio entre secciones */
    margin-top: 50px;

}

.section-3 {
    margin-top: 100px;
    /* Espacio entre secciones */

}

.Margen-titulos {
    margin-top: 100px;
}

.Margen-titulos-2 {
    margin-top: 60px;
    margin-bottom: 50px;
    /* Espacio entre secciones */
}

.section-4 {
    margin-bottom: 10px;
    /* Espacio entre secciones */

}

.section-5 {
    margin-top: 0px;
    margin-bottom: 50px;
    /* Espacio entre secciones */

}

.banner {
    background-image: url(Imagenes/Background-4.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content {
    text-align: center;
}

.text {
    padding: 20px;
    color: white;

}

.text h1 {
    font-size: var(--letra-extraGrande);
    line-height: -1.5;
    letter-spacing: 1px;
}

.text h2 {
    font-size: var(--letra-grande);
    line-height: -1.5;
    font-style: oblique;
    color: rgb(253, 253, 253);
    letter-spacing: 1px;
}

.text h3 {
    font-size: var(--letra-mediana);
    margin-bottom: 20px;
    margin-top: 5px;
    letter-spacing: 1.2px;
}

.text p {
    font-size: var(--letra-default);
    text-align: center;
    margin-bottom: 100px;
    max-width: 100vh;
    margin: 0 auto;
    line-height: 2;
}

button {
    padding: 10px 20px;
    background-color: none;
    color: var(--color-2);
    border: 2px solid var(--color-1);
    border-radius: 30px;
    cursor: pointer;
    font-size: var(--letra-default);
    margin-top: 10px;
}

#button-banner:hover {
    transform: scale(1.1);
}

.separator {
    border: none;
    border-top: 4px solid var(--color-1);
    margin-top: 6px;
    margin-bottom: 20px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}


/* ARTICULO */


.articulos{
    text-align: justify;
    margin: 30px;
    padding: 50px;

    .separator-2 {
        border: none;
        border-top: 4px solid var(--color-2);
        margin-top: 6px;
        margin-bottom: 20px;
        width: 240px;

    }
}
h2 {
    color: var(--color-2);
    font-size: var(--letra-grande);
}

article {
    margin-bottom: 40px;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 50px  50px;
width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logros {
    background-color: #e3e3e3;
}

.compromiso {
    background-color: #f9f9f9;
}

p{
    font-size: var(--letra-default);
    line-height: -1.5;
    letter-spacing: 0.5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columnas */
    grid-gap: 5px; /* Espacio entre las imágenes */
    margin: 5px; /* Margen alrededor de la cuadrícula */

}

.imagen:hover {
    transform: scale(1.01); /* Escalar la imagen al 110% en el hover */
}
.imagen {
    background-size: cover;
    background-position: center;
    height: 400px; 
    margin: 5px; /* Margen alrededor de cada imagen */
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.imagen1 {
    background-image: url('Imagenes/Tienda-2.jpg');
}

.imagen2 {
    background-image: url('Imagenes/tienda-5.jpg');
}

.imagen3 {
    background-image: url('Imagenes/tienda-4.jpg');
}


/* Nuestros Logros */

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columnas */
    grid-gap: 5px; /* Espacio entre las imágenes */
    margin: 5px; /* Margen alrededor de la cuadrícula */

}

.imagen:hover {
    transform: scale(1.01); /* Escalar la imagen al 110% en el hover */
}
.imagen {
    background-size: cover;
    background-position: center;
    height: 400px; 
    margin: 5px; /* Margen alrededor de cada imagen */
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.imagen1-2 {
    background-image: url('Imagenes/proyecto-1.jpg');
}

.imagen2-2 {
    background-image: url('Imagenes/proyecto-2.jpg');
}

.imagen3-2 {
    background-image: url('Imagenes/proyecto-3.jpg');
}



/* Nuestro Compromiso */

.container-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; /* Espacio entre las imágenes */
    margin: 10px; /* Margen alrededor de la cuadrícula */
}

.imagen {
    background-size: cover;
    background-position: center;
    height: 400px; /* Altura de cada imagen */
    border-radius: 10px;
}

.imagen1 {
    background-image: url('Imagenes/proyecto-5.jpg');
}

.imagen2 {
    background-image: url('Imagenes/proyecto-3.jpg');
}

.imagen:hover {
    transform: scale(1.01); /* Escalar la imagen al 105% en el hover */
    transition: transform 0.3s ease; /* Agregar una transición suave */
}

/* PIE DE PAGINA */

.footer {
    background-color: var(--color-2);
    color: var(--color-1);
    text-align: center; 
    padding: 20px 0; 
    width: 100%; 
    position: fixed; 
    bottom: 0; /* Alinea el footer en la parte inferior de la ventana */
    left: 0; /* Asegura que esté alineado a la izquierda */
    right: 0; /* Asegura que esté alineado a la derecha */
}
